/* http://meyerweb.com/eric/tools/css/reset/ 
        v2.0 | 20110126
        License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** CUSTOM **/

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
  --alice-blue: #EFF7FA;
  --anti-flash-white: #EBECEE;
  --caribbean-current: #046D6C;
  --light-blue: #AFD3CE;
  --robin-egg-blue: #41C2BF;
}

body {
	font-family: 'Roboto', sans-serif;
  background: var(--alice-blue);
  display: flex;
  flex-direction: column;
  width: 1280px;
  margin: auto;
  gap: 1rem;
  padding: 2rem 0;
  height: 100%;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
  height: calc(100% - 45px);
  overflow: auto;
  padding: 1rem;
}

header form {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
  width: 100%;
  position: relative;
}

header input {
  flex-grow: 1;
  font-size: 20px;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border: none;
  height: 55px;
}

header .submit-btn {
  align-self: normal;
  position: absolute;
  right: 8px;
  top: 8px;
}

main {
  display: flex;
  width: 100%;
  gap: 8px;
  overflow-x: auto;
  padding: 1rem 0;
  overflow-y: hidden;
}

.topics {
  background: white;
}

.topic-item {
  padding: 1rem;
  border-radius: 4px;
  position: relative;
  border: 1px solid var(--anti-flash-white);
  width: 300px;
  margin: 1px;
  margin-bottom: calc(1rem + 1px);
  cursor: pointer;
}

.topic-item-title {
  font-size: 20px;
  font-weight: 700;
}

.topic-item:hover .topic-item-more-btn {
  opacity: 1;
}

.topic-item-description {
  font-size: 16px;
  line-height: 1.2;
  margin: 0.5rem 0;
}

svg {
  width: 100%;
  height: 100%;
}

.topic-more {
  width: 100%;
  text-align: center;
}

.topic-more > button {
  width: 100%;
  display: block;
  height: 45px;
  background: var(--robin-egg-blue);
  color: white;
  font-family: Lato;
  font-weight: 700;
  font-size: 14px;
  border: none;
  text-align: left;
  border-radius: 4px;
  padding: 0 1rem;
  cursor: pointer;
}

.topic-more:hover > button {
  background: var(--caribbean-current);
}

.topic-item.selected {
  margin: 0;
  margin-bottom: 1rem;
  border: 2px solid var(--robin-egg-blue);
}

.topic-item.not-selected {
  opacity: 0.6;
}

.topic-item:hover {
  margin: 0;
  margin-bottom: 1rem;
  border: 2px solid var(--robin-egg-blue);
}

.loader {
  width: 300px;
  padding: 1rem;
}

.submit-btn {
  width: 40px;
  border-radius: 8px;
  background: var(--robin-egg-blue);
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  cursor: pointer;
}

.submit-btn:hover {
  background: var(--caribbean-current);
}

.submit-btn svg {
  fill: white;
}

.topic-select {
  width: 100%;
  display: flex;
  position: relative;
}

.topic-select input {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: none;
  background: var(--anti-flash-white);
  color: black;
  padding-left: 0.5rem;
}

.topic-select .submit-btn {
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
}
