/* SEARCH FORM
----------------------------------*/
.searchForm {
    display: flex;
    position: relative;
    width: 100%;
  }

.searchInput {
    border-radius: var(--radius-medium);
    color: var(--color-theme-text-primary);
    font-family: var(--type-primary);
    height: 50px;
    padding-left: var(--spacing-small);
    padding-top: var(--spacing-medium);
    resize: none;
    width: 100%;
  }
 
  .font-large .searchInput {
    font-size: var(--type-large);
    font-weight: var(--type-weight-bold);
    padding-left: var(--spacing-medium);
  }
 
  .searchInput {
    border: var(--color-theme-background-secondary);
    background-color: var(--color-theme-background-secondary);
  }
 
  .gray .searchInput {
    border: var(--color-grayish);
    background: var(--color-grayish);
  }
 
  .submit-btn {
    position: absolute;
    right: var(--spacing-extra-small);
    top: var(--spacing-extra-small);
  }


  /* BUTTON -- se puede hacer mejor lo de primary y secondary
----------------------------------*/
.primary {
    background: var(--color-theme-primary);
    border-radius: var(--radius-small);
    border: none;
    color: var(--color-theme-text-invert);
    cursor: pointer;
    display: block;
    font-family: var(--type-primary);
    font-size: var(--type-medium);
    font-weight: var(--type-weight-bold);
    height: 45px;
    padding: 0 var(--spacing-medium);
    width: 100%;
  }
 
  [disabled].primary,
  [disabled]:hover.primary
  {
    background: var(--color-theme-disabled);
    cursor: initial;
  }
 
  .secondary {
    background: var(--color-theme-background-secondary);
    border-radius: var(--radius-small);
    border: 2px solid var(--color-theme-primary);
    color: var(--color-theme-primary);
    cursor: pointer;
    display: block;
    font-family: var(--type-primary);
    font-size: var(--type-medium);
    font-weight: var(--type-weight-bold);
    height: 45px;
    padding: 0 var(--spacing-medium);
    width: 100%;
  }
 
  .icon {
    align-items: center;
    background: var(--color-theme-primary);
    border-radius: var(--radius-medium);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: var(--spacing-extra-small);
    width: 40px;
  }
 
 
  .primary:hover, .icon:hover {
    background: var(--color-theme-secondary);
  }