/* GLOBAL STYLES 
----------------------------------*/

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
}
body {
	font-family: var(--type-primary);
  background: var(--color-theme-background-primary);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  height: 100%;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
  height: calc(100% - 45px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: var(--spacing-medium);
}

p {
  line-height: 1.5;
}

textarea {
  resize: none;
}
