* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
  --alice-blue: #EFF7FA;
  --anti-flash-white: #EBECEE;
  --caribbean-current: #046D6C;
  --light-blue: #AFD3CE;
  --robin-egg-blue: #41C2BF;
}

body {
	font-family: 'Roboto', sans-serif;
  background: var(--alice-blue);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
  height: calc(100% - 45px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem;
}

p {
  line-height: 1.5;
}

textarea {
  resize: none;
}
