/* DESIGN TOKENS 
----------------------------------*/

.theme-light {
    /* Colors */
    --color-blue: #41C2BF; /*aka robin-egg-blue*/
    --color-blue-dark: #046D6C; /*aka caribbean-current*/
    --color-blue-light: #AFD3CE; /*aka light-blue*/
    --color-blue-lightish: #EFF7FA; /*aka alice-blue*/

    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray: #666666;
    --color-grayish: #EBECEE; /*aka anti-flash-white*/

    /* Color theming */
    --color-theme-primary: var(--color-blue);
    --color-theme-secondary: var(--color-blue-dark);
    --color-theme-background-primary: var(--color-blue-lightish);
    --color-theme-background-secondary: var(--color-white);
    --color-theme-text-primary: var(--color-black);
    --color-theme-text-secondary: var(--color-gray);
    --color-theme-text-invert: var(--color-white);
    --color-theme-disabled: var(--color-grayish);
    --color-theme-border: var(--color-grayish);
    --color-theme-border-dark: var(--color-blue-light);

    /* Typography */
    --type-font-family-roboto: 'Roboto', sans-serif;
    --type-font-family-lato: 'Lato', sans-serif;

    --type-primary: var(--type-font-family-lato);
    --type-secondary: var(--type-font-family-roboto);

    --type-font-size-14: 14px;
    --type-font-size-16: 16px;
    --type-font-size-22: 22px;
    --type-font-size-32: 32px;
    --type-font-size-40: 40px;

    --type-weight-light: 300;
    --type-weight-regular: 500;
    --type-weight-bold: 700;

    --type-small: var(--type-font-size-14);
    --type-medium: var(--type-font-size-16);
    --type-large: var(--type-font-size-22);
    --type-extra-large: var(--type-font-size-40);

    --type-line-height-regular: 1.2;
    --type-line-height-large: 1.5;

    /* Spacing */
    --spacing-extra-small: 0.25rem;
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
    --spacing-extra-large: 4rem;

    /* Radius */
    --radius-small: 4px;
    --radius-medium: 8px;
    --radius-large: 16px;

    /* Border */
    --border-small: 1px;
    --border-medium: 2px;
    --border-large: 4px;


  }

  .theme-dark {
    
  }